div#entries, #form {
	margin: auto;
	width: 50%;
}

.card {
	margin-bottom: 2em;
	background-color: darkslategray;
}

.card-title {
	margin-bottom: 0;
}

.date {
	font-size: 0.8em;
}

blockquote {
	margin: 0;
}

form#form {
	padding: 0 1.25em;
}

.gb-form {
	background-color: darkslategray;
}

body {
	background-color: black;
	color: ghostwhite;
}